In [23]:
import pandas as pd
import numpy as np
import seaborn as sns
import string,re

In [24]:
path = ('/Users/mac/Desktop/house_price_model/data/raw/properties.csv')
print(path)

/Users/mac/Desktop/house_price_model/data/raw/properties.csv

In [25]:
prop=pd.read_csv(path)
print(prop)

            type                                              title  \
0         Duplex     Prime Location Duplex Fully Finished With A\C
1          Villa  Town house resale at Mivida Emaar with best price
2      Apartment   Lake View Residence - Apartment | Prime Location
3      Townhouse  Best Penthouse for sale in villette ( sky conds )
4      Penthouse  2nd Floor | Fully Finished | Lowest Price |Par...
...          ...                                                ...
11413      Villa  فيلا تشطيب الترا سوبر لوكس بالتجمع علي شارع رئ...
11414  Townhouse         town house for sale 220m Mountain View III
11415  Apartment        3 Bedrooms|Del 2026|5% Down|9 years install
11416  Penthouse        Very prime location penthouse 275m for sale
11417  Penthouse  Buy your unit with installments over 9 years M...

                                                location bedroom  bathroom  \
0      Park View, North Investors Area, New Cairo Cit...       4         4
1      Mivida, 5th Settlement Compounds, The 5th Sett...       3         3
2      Lake View Residence, 5th Settlement Compounds,...       3         3
3      La Vista City, New Capital Compounds, New Capi...       4         4
4      Villette, 5th Settlement Compounds, The 5th Se...       5         6
...                                                  ...     ...       ...
11413  Street70, District 2, The 5th Settlement, New ...       8         7
11414  Mountain View 3, 5th Settlement Compounds, The...       4         4
11415  IL Bosco City, Mostakbal City Compounds, Mosta...       3         3
11416  Stone Residence, 5th Settlement Compounds, The...       5         4
11417  Mountain View iCity, 5th Settlement Compounds,...       3         3

      size_sqm       price
0          345   6,850,000
1          285  10,000,000
2          210   5,700,000
3          230   7,510,000
4          284   8,511,300
...        ...         ...
11413    1,500  30,000,000
11414      220  10,276,891
11415      177   2,811,346
11416      275   3,000,000
11417      160   4,554,066

[11418 rows x 7 columns]

In [26]:
prop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11418 entries, 0 to 11417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   type      11418 non-null  object
 1   title     11418 non-null  object
 2   location  11418 non-null  object
 3   bedroom   11418 non-null  object
 4   bathroom  11418 non-null  int64
 5   size_sqm  11418 non-null  object
 6   price     11418 non-null  object
dtypes: int64(1), object(6)
memory usage: 624.5+ KB

In [27]:
prop.nunique()

type          10
title       9941
location     803
bedroom       10
bathroom       8
size_sqm     718
price       2497
dtype: int64

In [28]:
cprop=prop.copy()
cprop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11418 entries, 0 to 11417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   type      11418 non-null  object
 1   title     11418 non-null  object
 2   location  11418 non-null  object
 3   bedroom   11418 non-null  object
 4   bathroom  11418 non-null  int64
 5   size_sqm  11418 non-null  object
 6   price     11418 non-null  object
dtypes: int64(1), object(6)
memory usage: 624.5+ KB

In [29]:
cprop.price.value_counts()

Ask           412
2,500,000     174
3,000,000     168
3,500,000     154
4,000,000     131
             ...
18,500,001      1
1,247,000       1
6,558,000       1
2,372,031       1
4,554,066       1
Name: price, Length: 2497, dtype: int64

In [30]:
c = prop['price']
print(c.head(21))

0      6,850,000
1     10,000,000
2      5,700,000
3      7,510,000
4      8,511,300
5      3,150,000
6      3,500,000
7      6,100,000
8      2,278,506
9      4,112,700
10     5,500,000
11     7,346,875
12     4,200,000
13     4,500,000
14    16,000,000
15     2,400,000
16     3,200,000
17     2,800,000
18     9,200,000
19    14,500,000
20           Ask
Name: price, dtype: object

In [41]:
testingrows=cprop.loc[cprop.price=='Ask']
cprop=cprop.drop(cprop.loc[cprop.price=='Ask'].index,axis=0)
cprop=cprop.drop(cprop.loc[cprop.bedroom=='{0}'].index,axis=0)
cprop=cprop.drop(cprop.loc[cprop.bedroom=='Studio'].index,axis=0)
cprop

,type,title,location,bedroom,bathroom,size_sqm,price
0,duplex,prime location duplex fully finished with a\c,"park view, north investors area, new cairo cit...",4,4,345,"6,850,000"
1,villa,town house resale at mivida emaar with best price,"mivida, 5th settlement compounds, the 5th sett...",3,3,285,"10,000,000"
2,apartment,lake view residence - apartment | prime location,"lake view residence, 5th settlement compounds,...",3,3,210,"5,700,000"
3,townhouse,best penthouse for sale in villette ( sky conds ),"la vista city, new capital compounds, new capi...",4,4,230,"7,510,000"
4,penthouse,2nd floor | fully finished | lowest price |par...,"villette, 5th settlement compounds, the 5th se...",5,6,284,"8,511,300"
...,...,...,...,...,...,...,...
11413,villa,فيلا تشطيب الترا سوبر لوكس بالتجمع علي شارع رئ...,"street70, district 2, the 5th settlement, new ...",8,7,"1,500","30,000,000"
11414,townhouse,town house for sale 220m mountain view iii,"mountain view 3, 5th settlement compounds, the...",4,4,220,"10,276,891"
11415,apartment,3 bedrooms|del 2026|5% down|9 years install,"il bosco city, mostakbal city compounds, mosta...",3,3,177,"2,811,346"
11416,penthouse,very prime location penthouse 275m for sale,"stone residence, 5th settlement compounds, the...",5,4,275,"3,000,000"
11417,penthouse,buy your unit with installments over 9 years m...,"mountain view icity, 5th settlement compounds,...",3,3,160,"4,554,066"

In [44]:
cprop.title=cprop.title.apply(lambda m:m.lower())
cprop.location=cprop.location.apply(lambda m:m.lower())
cprop.type=cprop.type.apply(lambda m:m.lower())

cprop.price=cprop.price.apply(lambda m:m.replace(',',''))
cprop.price=cprop['price'].astype('int64')

cprop.bedroom=cprop.bedroom.apply(lambda m:m.replace(',',''))
cprop.bedroom=cprop['bedroom'].astype('int64')

cprop.size_sqm=cprop.size_sqm.apply(lambda m:m.replace(',',''))
cprop.size_sqm=cprop['size_sqm'].astype('int64')

In [45]:
cprop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10969 entries, 0 to 11417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   type      10969 non-null  object
 1   title     10969 non-null  object
 2   location  10969 non-null  object
 3   bedroom   10969 non-null  int64
 4   bathroom  10969 non-null  int64
 5   size_sqm  10969 non-null  int64
 6   price     10969 non-null  int64
dtypes: int64(4), object(3)
memory usage: 685.6+ KB

In [43]:

cprop.size_sqm.value_counts()

160    267
200    263
300    183
220    178
165    164
      ...
803      1
649      1
463      1
973      1
719      1
Name: size_sqm, Length: 701, dtype: int64